fastapi[all]
tortoise-orm
pydantic-settings
passlib[bcrypt]
python-jose[cryptography]
aerich
loguru
tenacity
fastapi-mail
bcrypt==4.0.1
argon2-cffi
fastadmin
# aerich init-db
# aerich migrate
# aerich upgrade